.logo-blue {
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-black {
  font-weight: 400;
  line-height: 0.72;
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #2196f3;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
}
.main-navigation {
  color: #212121;
}
.link-active {
  text-decoration: none;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: #212121;
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: #212121;
}
a: link {
  color: #212121;
}
a:hover {
  color: #2196f3;
}
.addres-h {
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 0.02em;
  color: #757575;
}
.main-txt {
  font-weight: 900;
  line-height: 0.73;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.btn {
  font-weight: 700;
  line-height: 0.53;
  letter-spacing: 0.06;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-txt {
  font-weight: 400;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: #757575;
}
.photos-description {
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
}
.name {
  font-weight: 500;
  line-height: 0.85;
  letter-spacing: 00.03em;
  color: #212121;
}
.foot-addres {
  font-weight: 400;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.foot-addres a {
  font-weight: 400;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.btn-p {
  background: #f5f4fa;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  line-height: 0.61;
  letter-spacing: 0.03em;
}
.btn-p:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.main-fig {
  font-weight: 700;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: #212121;
}
.sec-fig {
  font-weight: 400;
  line-height: 0.53;
  letter-spacing: 0.03em;
  color: #757575;
}
